<!DOCTYPE html>
<body>
    <button type="button" onclick="watson(); window.location.reload();">Reload Watson</button>
    <audio controls>
        <source src="/demo.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</body>

<script>
function watson() {    
    fetch('http://rocketelevators.online/admin/briefing/watsonbriefing', {method: 'POST'})
        .then((response) => response.json())
        .then((data) => {
        console.log(data.sqlElevators);

    })        

}
</script>